<div class="card shadow-sm">
  <div class="card-header clearfix">
    Usuários
    <button *ngIf="canEdit" type="button" class="btn btn-sm btn-secondary float-right" data-toggle="modal" (click)="openModal(null);">Novo</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="dataTable" style="width:100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Regra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td data-id="{{usuario.id}}">
              <div class="form-inline align-items-center">
                <div class="form-group ml-1">
                  <a title="Editar" class="text-secondary" (click)="openModal(usuario);">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
                <div *ngIf="canEdit" class="form-group ml-1">
                  <a title="Excluir" class="text-secondary" (click)="openModalExcluir(usuario);">
                    <i class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.regra}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--<div class="card-footer small text-muted">Atualizado ontem às 13:00h</div>-->
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>
