<div class="card mb-3">
  <div class="card-header clearfix">
    <span>Procedimentos</span>
    <a class="btn btn-sm btn-secondary float-right" [routerLink]="['/cadastro-procedimento']">
      <span>Novo</span>
    </a>
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-5">
          Busca:
          <input class="form-control form-control-sm" type="text" [(ngModel)]="searchFilter" name="searchFilter" />
        </div>
        <div class="form-group col-md-3">
          De:
          <input bsDatepicker
                 [bsConfig]="bsConfig"
                 type="text"
                 class="form-control form-control-sm"
                 [(ngModel)]="searchDe"
                 name="searchDe"
                 (bsValueChange)="onSearchDeChange($event)">
        </div>
        <div class="form-group col-md-3">
          Até:
          <input bsDatepicker
                 [bsConfig]="bsConfig"
                 type="text"
                 class="form-control form-control-sm"
                 [(ngModel)]="searchAte"
                 name="searchAte"
                 (bsValueChange)="onSearchAteChange($event)">
        </div>
        <div class="form-group col-md-1">
          <br />
          <button type="button"
                  class="btn btn-secondary btn-sm form-control form-control-sm"
                  (click)="limparFiltros();">
            <span>Limpar</span>
          </button>
        </div>
      </div>
    </form>
    <div class="table-responsive-sm">
      <table class="table table-striped" id="procedimentos" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Número de Cadastro</th>
            <th>Boletim Unificado</th>
            <th>Boletim de Ocorrência</th>
            <th>Número Processual</th>
            <th>Tipo de Procedimento</th>
            <th>Data de Inserção</th>
            <th>Comarca</th>
            <th>Andamento Processual</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let procedimento of returnedProcedimentos | grdFilter: {id:searchFilter, numeroCadstro:searchFilter, boletimUnificado:searchFilter, boletimOcorrencia:searchFilter, numeroProcessual:searchFilter, tipoProcedimento:searchFilter, dataInsercao:searchFilter, comarca:searchFilter, andamentoProcessual:searchFilter}; let i=index;">
            <td data-id="{{procedimento.id}}">
              <div class="form-inline align-items-center">
                <div class="form-group ml-1">
                  <a title="Editar" class="text-secondary" [routerLink]="['/cadastro-procedimento', procedimento.id]">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
                <div class="form-group ml-1">
                  <a title="Excluir" class="text-secondary" (click)="openModalExcluir(procedimento);">
                    <i class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </td>
            <td>
              {{procedimento.id}}
            </td>
            <td>
              {{procedimento.boletimUnificado}}
            </td>
            <td>
              {{procedimento.boletimOcorrencia}}
            </td>
            <td>
              {{procedimento.numeroProcessual}}
            </td>
            <td>
              {{procedimento.tipoProcedimento}}
            </td>
            <td>
              {{procedimento.dataInsercao | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{procedimento.comarca}}
            </td>
            <td>
              {{procedimento.andamentoProcessual}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="procedimentos.length > pageSize">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]="procedimentos.length"
                      [maxSize]="pageSize"
                      (pageChanged)="pageChanged($event)"
                      [previousText]="'Anterior'"
                      [nextText]="'Próximo'"
                      [itemsPerPage]="pageSize"
                      [ngModel]="currentPage"
                      class="text-secondary"></pagination>
        </div>
      </div>
    </div>
    <div class="card-footer small text-muted" style="margin-top:5px">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isLoadingUltimaAtualizacao"></span>
      <span class="sr-only">Loading...</span>
      Atualizado em {{ultimaAtualizacao | date: 'dd/MM/yyyy'}}
    </div>
  </div>
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>
