<div class="card">
  <div class="card-header clearfix">
    Lista de Municípios
    <button type="button" class="btn btn-sm btn-secondary float-right" data-toggle="modal" data-target="#cadastro-municipio" (click)="openModal(null);">Novo</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>UF</th>
            <th>CEP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let municipio of municipios">
            <td data-id="{{municipio.id}}">
              <div class="form-inline align-items-center">
                <div class="form-group ml-1">
                  <a title="Editar" class="text-secondary" (click)="openModal(municipio);">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
                <div class="form-group ml-1">
                  <a title="Excluir" class="text-secondary" (click)="openModalExcluir(municipio);">
                    <i class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </td>
            <td>
              {{municipio.nome}}
            </td>
            <td>
              {{municipio.uf}}
            </td>
            <td>
              {{municipio.cep}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Atualizado ontem às 13:00h</div>
</div>
<ngx-spinner bdOpacity=0.9
             bdColor="rgba(51, 51, 51, 0.75)"
             size="default"
             color="#fff"
             type="ball-beat"
             fullScreen="true">
  <p style="color: white"> </p>
</ngx-spinner>
