<div class="card mb-3">
  <div class="card-header clearfix">
    Situação
    <input *ngIf="canEdit" type="button" class="btn btn-sm btn-secondary float-right" value="Salvar" (click)="salvar();">
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="situacoes" class="control-label">Situação Atual</label>
        <ng-select [items]="situacoes"
                   bindLabel="descricao"
                   bindValue="id"
                   [searchable]="false"
                   (change)="onSituacaoChange($event)"
                   [clearable]="false"
                   [(ngModel)]="selectedSituacaoId">
        </ng-select>
      </div>

      <div class="form-group col-md-6" *ngIf="situacao.id == 3">
        <label for="dataRelatorio" class="control-label">Data do Relatório:</label>
        <input bsDatepicker
               [bsConfig]="bsConfig"
               [bsValue]="dataRelatorio"
               type="text"
               class="form-control"
               [(ngModel)]="dataRelatorio"
               name="dataRelatorio">
      </div>

    </div>

    <div class="form-row" *ngIf="situacao.id == 2">
      <div class="form-group col-md-6">
        <label for="motivos" class="control-label">Motivo:</label>
        <ng-select [items]="situacao.tipos"
                   bindLabel="descricao"
                   bindValue="id"
                   [searchable]="false"
                   (change)="onTipoSituacaoChange($event)"
                   [clearable]="false"
                   id="motivos"
                   [(ngModel)]="selectedTipoSituacaoId">
        </ng-select>
      </div>
    </div>

    <div class="form-row" *ngIf="situacao.id == 3">
      <div class="form-group col-md-6">
        <label for="indiciamento" class="control-label">Indiciamento?</label>
        <ng-select [items]="indiciamentos"
                   bindLabel="descricao"
                   bindValue="id"
                   [searchable]="false"
                   (change)="onIndiciamentoChange($event)"
                   [clearable]="false"
                   id="indiciamento"
                   [(ngModel)]="selectedIndiciamentoId">
        </ng-select>
      </div>

      <div class="form-group col-md-6" *ngIf="selectedIndiciamentoId == 2">
        <label for="motivos" class="control-label">Motivo:</label>
        <ng-select [items]="situacao.tipos"
                   bindLabel="descricao"
                   bindValue="id"
                   [searchable]="false"
                   (change)="onTipoSituacaoChange($event)"
                   [clearable]="false"
                   id="motivos"
                   [(ngModel)]="selectedTipoSituacaoId">
        </ng-select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md">
        <label for="observacao" class="control-label">Observação:</label>
        <textarea class="form-control form-control-sm" [(ngModel)]="observacao" name="observacao"></textarea>
      </div>
    </div>

  </div>
</div>

<div class="card mb-3">
  <div class="card-header clearfix">
    Movimentações
    <input *ngIf="canEdit" type="button" class="btn btn-sm btn-secondary float-right" value="Novo" (click)="openModalMovimentacao(null);">
  </div>
  <div class="card-body">
    <div class="text-left" *ngIf="isLoadingMovimentacoes">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <app-ultima-movimentacao [ultimasMovimentacoes]="movimentacoes"
                             [titulo]="''"
                             [enableActions]="canEdit">
    </app-ultima-movimentacao>
  </div>
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>
