<div class="modal-header">
  <h4 class="modal-title pull-left">{{model.id ? model.nome : 'Nova Vítima'}}</h4>
  <button type="button" class="close pull-right" aria-label="Fechar" [disabled]="submitted" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #vitimaForm="ngForm">
    <div class="form-group">
      <label for="nome" class="control-label">Nome:</label>
      <input type="text"
             [(ngModel)]="vitimaSelected"
             [typeaheadAsync]="true"
             [typeahead]="vitimasDataSource"
             (typeaheadLoading)="changeTypeaheadLoadingVitimas($event)"
             (typeaheadOnSelect)="typeaheadOnSelectVitima($event)"
             typeaheadWaitMs="2000"
             [typeaheadScrollable]="true"
             [typeaheadOptionsLimit]="3"
             class="form-control form-control-sm ng-invalid"
             id="nome"
             name="nome"
             required>
      <small class="form-text text-muted" *ngIf="typeaheadLoadingVitimas">
        Buscando...
      </small>
    </div>
    <div class="form-group">
      <label for="nomePai" class="control-label">Nome do Pai:</label>
      <input type="text" [(ngModel)]="model.nomePai" class="form-control form-control-sm ng-invalid" id="nomePai" name="nomePai">
    </div>
    <div class="form-group">
      <label for="nomeMae" class="control-label">Nome da Mãe:</label>
      <input type="text" [(ngModel)]="model.nomeMae" class="form-control form-control-sm ng-invalid" id="nomeMae" name="nomeMae">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="naturalidade" class="control-label">Naturalidade:</label>
        <small class="form-text text-muted" *ngIf="isLoadingMunicipios">
          Buscando...
        </small>
        <input [(ngModel)]="naturalidadeSelected"
               [typeahead]="municipios"
               typeaheadOptionField="nome"
               [typeaheadScrollable]="true"
               [typeaheadOptionsInScrollableView]="10"
               [typeaheadMinLength]="3"
               placeholder="Digite para buscar"
               name="naturalidade"
               (typeaheadOnSelect)="onSelectNaturalidade($event)"
               class="form-control form-control-sm"
               [class.ng-invalid]="isNoResultNaturalidade"
               (typeaheadNoResults)="naturalidadeNoResults($event)"
               autocomplete="off">
      </div>
      <div class="form-group col-md-6">
        <label for="DataNascimento" class="control-label">Data de Nascimento:</label>
        <input bsDatepicker
               [bsConfig]="bsConfig"
               [bsValue]="model.DataNascimento"
               type="text"
               class="form-control form-control-sm"
               [(ngModel)]="model.DataNascimento"
               name="DataNascimento"
               placement="top">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email" class="control-label">Email:</label>
        <input type="email" [(ngModel)]="model.email" placeholder="Digite o email" class="form-control form-control-sm ng-invalid" id="email" name="email">
      </div>
      <div class="form-group col-md-6">
        <label for="telefone" class="control-label">Telefone:</label>
        <input type="text" [(ngModel)]="model.telefone" mask="(00) 00000-0000" placeholder="(00) 00000-0000" class="form-control form-control-sm ng-invalid" id="telefone" name="telefone">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="submitted" (click)="modalRef.hide();">Fechar</button>
  <button *ngIf="canEdit" type="button" class="btn btn-secondary" [disabled]="!vitimaForm.form.valid || submitted" (click)="save();">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitted"></span>
    Salvar
  </button>
</div>
