<label for="ultimasMovimentacoes">{{titulo}}</label>
<table class="table" id="ultimasMovimentacoes">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Destino</th>
      <th scope="col">Data</th>
      <th scope="col">Retornou em</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimentacao of ultimasMovimentacoes">
      <td data-id="{{movimentacao.id}}" *ngIf="enableActions">
        <div *ngIf="enableActions" class="form-inline align-items-center">
          <div class="form-group ml-1">
            <a title="Editar" class="text-secondary" (click)="openModalCadastro(movimentacao)">
              <i class="fas fa-edit"></i>
            </a>
          </div>
          <div class="form-group ml-1">
            <a title="Excluir" class="text-secondary" (click)="openModalExcluir(movimentacao);">
              <i class="far fa-times-circle"></i>
            </a>
          </div>
        </div>
      </td>
      <td>{{movimentacao.destino}}</td>
      <td>{{movimentacao.data | date: 'dd/MM/yyyy'}}</td>
      <td>{{movimentacao.retornouEm | date: 'dd//MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="totalItems > pageSize">
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="page" (pageChanged)="pageChanged($event)" class="text-secondary"></pagination>
  </div>
</div>
