<div class="card mb-3">
  <div class="card-header clearfix">
    Relação de Procedimentos
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="situacoes" class="control-label">Situação</label>
        <ng-select [items]="situacoes"
                   bindLabel="descricao"
                   bindValue="id"
                   [searchable]="false"
                   (change)="onSituacaoChange($event)"
                   [clearable]="false"
                   class="custom"
                   [(ngModel)]="selectedSituacaoId">
        </ng-select>
      </div>
      <div class="form-group col-md-3">
        <label for="searchDe" class="control-label">De:</label>
        <input bsDatepicker
               [bsConfig]="bsConfig"
               type="text"
               class="form-control"
               [(ngModel)]="searchDe"
               name="searchDe"
               (bsValueChange)="onSearchDeChange($event)">
      </div>
      <div class="form-group col-md-3">
        <label for="searchAte" class="control-label">Até:</label>
        <input bsDatepicker
               [bsConfig]="bsConfig"
               type="text"
               class="form-control"
               [(ngModel)]="searchAte"
               name="searchAte"
               (bsValueChange)="onSearchAteChange($event)">
      </div>
    </div>
    <table id="relacao-procedimenos" class="table table-striped table-bordered" style="width:100%"></table>
  </div>
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>
