<div class="card mx-auto">
  <div class="card-header">
    {{usuario.id ? 'Atualizar o usuário' : 'Registrar um usuário'}}
    <button type="button" class="close pull-right" aria-label="Fechar" [disabled]="submitted" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #registerForm="ngForm">
      <div class="form-group">
        <div class="form-row">
          <div class="col-md">
            <div class="form-label-group">
              <input type="text" id="nome" name="nome" [(ngModel)]="usuario.nome" class="form-control" placeholder="Nome" required="required" autofocus="autofocus" [readonly]="submitted">
              <label for="nome">Nome</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input type="email" id="inputEmail" name="email" [(ngModel)]="usuario.email" class="form-control" placeholder="Email" required="required" [readonly]="submitted">
          <label for="inputEmail">Email</label>
        </div>
      </div>
      <div class="form-group" *ngIf="usuario.id">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="alterarSenha" (change)="onChangeAlterarSenha($event);">
          <label class="form-check-label" for="alterarSenha">
            Alterar a senha?
          </label>
        </div>
      </div>
      <div class="form-group" id="collapseBasic" [collapse]="isCollapsed">
        <div class="form-group" *ngIf="usuario.id">
          <div class="form-row">
            <div class="col-md">
              <div class="form-label-group">
                <input type="password" id="inputCurrentPassword" name="senhaAtual" [(ngModel)]="usuario.senhaAtual" class="form-control" placeholder="Password" [required]="!isCollapsed || !usuario.id" [readonly]="submitted">
                <label for="inputCurrentPassword">Senha Atual</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md">
              <div class="form-label-group">
                <input type="password" id="inputPassword" name="senha" [(ngModel)]="usuario.senha" class="form-control" placeholder="Password" [required]="!isCollapsed || !usuario.id" [readonly]="submitted">
                <label for="inputPassword">Senha</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md">
              <div class="form-label-group">
                <input type="password" id="confirmPassword" name="confirmarSenha" [(ngModel)]="usuario.confirmarSenha" class="form-control" placeholder="Confirm password" [required]="!isCollapsed || !usuario.id" [readonly]="submitted">
                <label for="confirmPassword">Confirmar senha</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="regra">Regra</label>
      </div>
      <div class="form-group d-flex justify-content-between">
        <div class="custom-control custom-radio custom-control-inline"
             tooltip="O usuário tem controle geral do sistema."
             placement="top">
          <input type="radio" id="regraAdmin" [(ngModel)]="usuario.regra" name="regra" class="custom-control-input" value="Admin">
          <label class="custom-control-label" for="regraAdmin">Administrador</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline"
             tooltip="O usuário tem controle sobre a edição de todos os itens, menos o controle de usuários."
             placement="top">
          <input type="radio" id="regraUser" [(ngModel)]="usuario.regra" name="regra" class="custom-control-input" value="User">
          <label class="custom-control-label" for="regraUser">Usuário</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline"
             tooltip="O usuário pode somente visualizar os itens do sistema."
             placement="top">
          <input type="radio" id="regraViewr" [(ngModel)]="usuario.regra" name="regra" class="custom-control-input" value="Viewer">
          <label class="custom-control-label" for="regraViewr">Visualizador</label>
        </div>
      </div>

      <button type="button" class="btn btn-secondary btn-block" [disabled]="!registerForm.form.valid || submitted" (click)="salvar();">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!submitted"></span>
        {{usuario.id ? 'Atualizar' : 'Registrar'}}
      </button>
    </form>
    <div class="text-center">
      <!--<a class="d-block small mt-3" href="login.html">Login Page</a>
      <a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
    </div>
  </div>
</div>
