.sortable, a {
  cursor: pointer
}

nav > div > a > img {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

nav {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1rem;
}

nav .user-name {
  font-size: 0.75rem;
}

nav > label {
  font-size: 0.60rem;
}
