<nav class="navbar navbar-expand navbar-light static-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown no-arrow" dropdown>
      <!--<a class="nav-link" [routerLink]="['/home']">VISÃO GERAL<span class="sr-only">(current)</span></a>-->
      <a dropdownToggle class="nav-link dropdown-toggle" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="menuDropdown">
        <a class="dropdown-item" [routerLink]="['/visao-geral']">
          Visão Geral
          <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/procedimentos']">
          Procedimentos
          <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled text-muted">Relatórios</a>
        <a class="dropdown-item" [routerLink]="['/estatistica-assunto']">Estatística por Assunto</a>
        <a class="dropdown-item" [routerLink]="['/relacao-procedimentos']">Relação de Procedimentos</a>
        <a class="dropdown-item" [routerLink]="['/relacao-indiciados']">Relação de Indiciados</a>
        <a class="dropdown-item" [routerLink]="['/relacao-vitimas']">Relação de Vítimas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled text-muted">Cadastros</a>
        <a class="dropdown-item" [routerLink]="['/artigo']">Artigo</a>
        <a class="dropdown-item" [routerLink]="['/assunto']">Assunto</a>
        <a class="dropdown-item" [routerLink]="['/municipio']">Município</a>
        <a class="dropdown-item" [routerLink]="['/tipo-procedimento']">Tipo de Procedimento</a>
        <a class="dropdown-item" [routerLink]="['/unidade-policial']">Unidade Policial</a>
        <a class="dropdown-item" [routerLink]="['/vara-criminal']">Vara Criminal</a>
      </div>
    </li>
  </ul>

  <div class="clearfix">
    <a class="navbar-brand" [routerLink]="['/home']">
      <!--<img src="../../../assets/img/logo.jpg" class="rounded float-left" alt="...">-->
      <img src="./assets/img/logo.png" class="rounded float-left" alt="...">
      CONTROLE DE PROCEDIMENTOS CRIMINAIS
    </a>
  </div>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->


  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown no-arrow" dropdown>
      <a dropdownToggle class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item">Configurações</a>
        <a class="dropdown-item" [routerLink]="['/account/users']">Usuários</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="doLogOut();">Sair</a>
      </div>
    </li>
  </ul>
</nav>
