.sortable, a {
  cursor: pointer
}

nav > div > a > img {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

nav {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /*opacity: 1;*/
}
