<div class="card">
  <div class="card-header clearfix">
    <button type="button" class="btn btn-sm btn-secondary float-right" [disabled]="!controleForm.form.valid || isLoading" (click)="salvar();">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isLoading"></span>
      Salvar
    </button>
    Procedimento # {{procedimentoId}}
  </div>
  <div class="card-body">
    <form #controleForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id">Número de Cadastro</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="procedimento.id" name="id" readonly>
          <small class="form-text text-muted">
            O número de cadastro é gerado automaticamente pelo sistema.
          </small>
        </div>
        <div class="form-group col-md-4">
          <label for="boletimUnificado">Boletim Unificado</label>
          <input type="text" class="form-control form-control-sm ng-invalid" [(ngModel)]="procedimento.boletimUnificado" name="boletimUnificado" placeholder="00000/2018" required mask="0*/0000">
        </div>
        <div class="form-group col-md-4">
          <label for="boletimOcorrencia">Boletim de Ocorrência</label>
          <input type="text" class="form-control form-control-sm ng-invalid" [(ngModel)]="procedimento.boletimOcorrencia" name="boletimOcorrencia" placeholder="00000/2018" required mask="0*/0000">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="numeroProcessual">Número Processual</label>
          <input type="text" class="form-control form-control-sm ng-invalid" [(ngModel)]="procedimento.numeroProcessual" name="numeroProcessual" placeholder="00000" required mask="0*">
        </div>
        <div class="form-group col-md-4">
          <label for="gampes">GAMPES</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="procedimento.gampes" name="gampes" placeholder="00000">
        </div>
        <div class="form-group col-md-4">
          <label for="tipoProcedimento">Tipo de Procedimento</label>
          <small class="form-text text-muted" *ngIf="isLoadingTipos">
            Buscando...
          </small>
          <input [(ngModel)]="tipoProcedimentoSelected"
                 [typeahead]="tiposProcedimento"
                 typeaheadOptionField="descricao"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="tipoProcedimento"
                 (typeaheadOnSelect)="onSelectTipoProcedimento($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultProcedimentoTipo"
                 (typeaheadNoResults)="tipoProcedimentoNoResults($event)"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="tipoProcedimento">Delegacia de Origem</label>
          <small class="form-text text-muted" *ngIf="isLoadingDelegacias">
            Buscando...
          </small>
          <input [(ngModel)]="delegaciaSelected"
                 [typeahead]="delegacias"
                 adaptivePosition="true"
                 typeaheadOptionField="descricao"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="delegaciaOrigem"
                 (typeaheadOnSelect)="onSelectDelegacia($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultDelegacia"
                 (typeaheadNoResults)="delegaciaNoResults($event)"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="varaCriminal">Vara Criminal</label>
          <small class="form-text text-muted" *ngIf="isLoadingVaras">
            Buscando...
          </small>
          <input [(ngModel)]="varaCriminalSelected"
                 [typeahead]="varasCriminais"
                 typeaheadOptionField="descricao"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="varaCriminal"
                 (typeaheadOnSelect)="onSelectVaraCriminal($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultVaraCriminal"
                 (typeaheadNoResults)="varaCriminalNoResults($event)"
                 required>
        </div>
        <div class="form-group col-md-6">
          <label for="comarca">Comarca</label>
          <small class="form-text text-muted" *ngIf="isLoadingComarcas">
            Buscando...
          </small>
          <input [(ngModel)]="comarcaSelected"
                 [typeahead]="municipios"
                 typeaheadOptionField="nome"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="comarca"
                 (typeaheadOnSelect)="onSelectComarca($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultComarca"
                 (typeaheadNoResults)="comarcaNoResults($event)"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="varaCriminal">Artigo</label>
          <small class="form-text text-muted" *ngIf="isLoadingArtigos">
            Buscando...
          </small>
          <input [(ngModel)]="artigoSelected"
                 [typeahead]="artigos"
                 typeaheadOptionField="descricao"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="artigo"
                 (typeaheadOnSelect)="onSelectArtigo($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultArtigo"
                 (typeaheadNoResults)="artigoNoResults($event)"
                 required>
        </div>
        <div class="form-group col-md-6">
          <label for="comarca">Assunto</label>
          <small class="form-text text-muted" *ngIf="isLoadingAssuntos">
            Buscando...
          </small>
          <input [(ngModel)]="assuntoSelected"
                 [typeahead]="assuntos"
                 typeaheadOptionField="descricao"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="7"
                 [typeaheadMinLength]="0"
                 placeholder="Digite para buscar"
                 name="assunto"
                 (typeaheadOnSelect)="onSelectAssunto($event)"
                 class="form-control form-control-sm"
                 [class.ng-invalid]="isNoResultAssunto"
                 (typeaheadNoResults)="assuntoNoResults($event)"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="DataInsercao">Data de Inserção</label>
          <input type="text" class="form-control form-control-sm" name="DataInsercao" value="{{procedimento.DataInsercao | date: 'dd/MM/yyyy'}}" readonly>
        </div>
        <div class="form-group col-md-4">
          <label for="DataFato">Data do Fato</label>
          <input type="text" bsDatepicker [bsConfig]="bsConfig" [bsValue]="procedimento.DataFato" class="form-control form-control-sm" [(ngModel)]="procedimento.DataFato" name="DataFato" required>
        </div>
        <div class="form-group col-xs-12 col-12 col-md-4">
          <label for="DataInstauracao">Data de Instauração</label>
          <input bsDatepicker
                 [bsConfig]="bsConfig"
                 [bsValue]="procedimento.DataInstauracao"
                 type="text"
                 class="form-control form-control-sm"
                 [(ngModel)]="procedimento.DataInstauracao"
                 name="DataInstauracao">
        </div>
      </div>
      <div class="form-group">
        <label for="localFato">Local do Fato</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="procedimento.localFato" name="localFato" required>
      </div>
      <div class="form-group">
        <label for="tipoCriminal">Tipo Criminal</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="procedimento.tipoCriminal" name="tipoCriminal">
      </div>
      <div class="form-group">
        <label for="anexos">Anexos</label>
        <textarea class="form-control form-control-sm" [(ngModel)]="procedimento.anexos" name="anexos"></textarea>
      </div>
      <div class="form-group">
        <label for="andamentoProcessual">Andamento Processual</label>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="procedimento.andamentoProcessual" name="andamentoProcessual" />
      </div>
      <div class="form-group">
        <app-ultima-movimentacao [ultimasMovimentacoes]="procedimento.ultimasMovimentacoes"
                                 [enableActions]="false"
                                 [titulo]="'Última movimentação'">
        </app-ultima-movimentacao>
      </div>
    </form>
  </div>
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>
