<div class="card mb-3">
  <div class="card-header clearfix">
    Vítimas
    <input type="button" class="btn btn-sm btn-secondary float-right" value="Novo" data-name="btnVitima" (click)="openModal($event, null);">
  </div>
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-striped" id="vitimas" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Nome da Vítima</th>
            <th>Nome do Pai</th>
            <th>Nome da Mãe</th>
            <th>Naturalidade</th>
            <th>Data de Nascimento</th>
            <th>Idade</th>
          </tr>
        </thead>
        <div class="text-center" *ngIf="isLoadingVitimas">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <tbody>
          <tr *ngFor="let vitima of returnedVitimas">
            <td data-id="{{vitima.id}}">
              <div class="form-inline align-items-center">
                <div class="form-group ml-1">
                  <a title="Editar" data-name="btnVitima" class="text-secondary" (click)="openModal($event, vitima);">
                    <i data-name="btnVitima" class="fas fa-edit"></i>
                  </a>
                </div>
                <div class="form-group ml-1">
                  <a title="Excluir" data-name="btnVitima" class="text-secondary" (click)="openModalExcluir($event, vitima);">
                    <i data-name="btnVitima" class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </td>
            <td>
              {{vitima.nome}}
            </td>
            <td>
              {{vitima.nomePai}}
            </td>
            <td>
              {{vitima.nomeMae}}
            </td>
            <td>
              {{vitima.naturalidade}}
            </td>
            <td>
              {{vitima.dataNascimento}}
            </td>
            <td>
              {{vitima.idade}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="vitimas.length > pageSize">
      <div class="col-xs-12 col-12 text-secondary">
        <pagination [totalItems]="vitimas.length"
                    (pageChanged)="pageVitimasChanged($event)"
                    [maxSize]="4"
                    [previousText]="'Anterior'"
                    [nextText]="'Próximo'"
                    [itemsPerPage]="pageSize"
                    [ngModel]="currentPageVitimas"
                    class="text-secondary">
        </pagination>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header clearfix">
    Indiciados
    <input type="button" class="btn btn-sm btn-secondary float-right" value="Novo" name="btnIndiciado" (click)="openModal($event, null);">
  </div>
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-striped" id="indiciados" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Nome do Indiciado</th>
            <th>Apelido</th>
            <th>Nome do Pai</th>
            <th>Nome da Mãe</th>
            <th>Naturalidade</th>
            <th>Data de Nascimento</th>
            <th>Idade</th>
          </tr>
        </thead>
        <div class="text-center" *ngIf="isLoadingIndiciados">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <tbody>
          <tr *ngFor="let indiciado of returnedIndiciados">
            <td data-id="{{indiciado.id}}">
              <div class="form-inline align-items-center">
                <div class="form-group ml-1">
                  <a title="Editar" class="text-secondary" (click)="openModal($event, indiciado);">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
                <div class="form-group ml-1">
                  <a title="Excluir" class="text-secondary" (click)="openModalExcluir($event, indiciado);">
                    <i class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </td>
            <td>
              {{indiciado.nome}}
            </td>
            <td>
              {{indiciado.apelido}}
            </td>
            <td>
              {{indiciado.nomePai}}
            </td>
            <td>
              {{indiciado.nomeMae}}
            </td>
            <td>
              {{indiciado.naturalidade}}
            </td>
            <td>
              {{indiciado.dataNascimento}}
            </td>
            <td>
              {{indiciado.idade}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="indiciados.length > pageSize">
        <div class="col-xs-12 col-12 text-secondary">
          <pagination [totalItems]="indiciados.length"
                      (pageChanged)="pageIndiciadosChanged($event)"
                      [maxSize]="4"
                      [previousText]="'Anterior'"
                      [nextText]="'Próximo'"
                      [itemsPerPage]="pageSize"
                      [ngModel]="currentPageIndiciados"
                      class="text-secondary">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading-bar [color]="'#6c757d'"
                 [includeSpinner]="false"
                 [height]="'3px'">
</ngx-loading-bar>

