/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import 'assets/css/sb-admin.min.css';
@import '~ngx-toastr/toastr.css';
@import 'assets/forms.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~datatables.net-bs4/css/datatables.bootstrap4.css';

#wrapper {
  /*margin-top: 10px*/
}

#toast-container > div {
  opacity: 1;
}

table a:hover {
  cursor: pointer
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #6c757d;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.cadastro-procedimento {
  margin-top: 10px
}
