/* You can add global styles to this file, and also import other style files */
/*@import 'bootstrap';*/
@import 'custom-bootstrap.scss';
@import "node_modules/bootstrap/scss/bootstrap";
@import 'assets/css/sb-admin.min.css';
@import '~ngx-toastr/toastr';
@import 'assets/forms.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~datatables.net-bs4/css/datatables.bootstrap4.css';

body {
  padding-top: 65px;
  height: 100%
}

/*input, button, a, table, span, form, div, textarea {
  font-size: 12px !important
}*/

#content-wrapper {
  /*overflow-y: scroll;*/
  /*height: 100%;*/
}

#toast-container > div {
  opacity: 1;
}

table a:hover {
  cursor: pointer
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #6c757d;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.cadastro-procedimento {
  margin-top: 10px
}

pagination a {
}

.ng-select.custom .ng-select-container {
  height: calc(1.5em + 0.75rem + 2px) !important;
  min-height: calc(1.5em + 0.75rem + 2px) !important;
}

table,
button,
span,
input {
  text-transform: uppercase;
}

input:not(:placeholder-shown):not([type='button']) {
  font-weight: 700 !important
}
